### Vim ###
*.sw[a-p]
.syntastic_javac_config

### System Files ###
*.DS_Store

### Default configurations ###
defaults/

### MS Word ###
~*.docx

### Packages ###
vendor/
node_modules/

### Secrets ###
secrets/

### Volume backups ###
backup/

### Java ###
*.class

### Python ###
__pycache__/
*.py[cod]

### React ###
apache2/www/public/static/js/
apache2/www/public/static/css/
apache2/www/public/static/media/
apache2/www/public/static/app/
apache2/www/public/autojobgpt/index.html
apache2/www/public/media/