### Vim ###
*.sw[a-p]
.syntastic_javac_config

### System Files ###
*.DS_Store

## Default configurations ###
defaults/

### Packages ###
vendor/
node_modules/

### Secrets ###
secrets/

### Volume backups ###
backup/

### Java ###
*.class
