### Vim ###
*.sw[a-p]

### System Files ###
*.DS_Store

### Packages ###
vendor

### Secrets ###
*.key
*.crt
PGPASSWORD

### Data ###
postgres/data/*
!postgres/data/args.sh

### Logging ###
apache2/logs/*
!apache2/logs/.keep
