services:
  app:
    init: true
    ports:
      - "80:80"
      - "443:443"
    container_name: apache2
    build: .
    volumes:
      - ./www:/var/www
      - ./config/apache2:/etc/apache2
      - ./config/php:/etc/php
      - ./db:/var/db
      - ./phinx:/var/phinx
      - ./migrations:/var/migrations
      - ./seeds:/var/seeds
    secrets:
      - SMTP_HOST
      - SMTP_USERNAME
      - SMTP_PASSWORD
      - TURNSTILE_SECRET_KEY
      - SELLER_ADDRESS
      - MS_CLIENT_SECRET
      - MS_CLIENT_ID
      - MS_REDIRECT_URI
      - JWT_SECRET
  bundler:
    init: true
    container_name: bundler
    build: ./bundler
    volumes:
      - ./bundler/src:/bundler/src
      - ./www/html/css:/bundler/dist/css
      - ./www/html/js:/bundler/dist/js
      - ./www/html/fonts:/bundler/dist/fonts
secrets:
  SMTP_HOST:
    file: ./secrets/SMTP_HOST
  SMTP_USERNAME:
    file: ./secrets/SMTP_USERNAME
  SMTP_PASSWORD:
    file: ./secrets/SMTP_PASSWORD
  TURNSTILE_SECRET_KEY:
    file: ./secrets/TURNSTILE_SECRET_KEY
  SELLER_ADDRESS:
    file: ./secrets/SELLER_ADDRESS
  MS_CLIENT_SECRET:
    file: ./secrets/MS_CLIENT_SECRET
  MS_CLIENT_ID:
    file: ./secrets/MS_CLIENT_ID
  MS_REDIRECT_URI:
    file: ./secrets/MS_REDIRECT_URI
  JWT_SECRET:
    file: ./secrets/JWT_SECRET
