services:
  app:
    init: true
    ports:
      - "80:80"
      - "443:443"
    container_name: apache2
    build:
      context: .
      dockerfile: Dockerfile.dev
    volumes:
      - ./www:/var/www
      - ./cacana:/var/cacana
      - ./config/apache2:/etc/apache2
      - ./config/php:/etc/php
      - ./db:/var/db
    secrets:
      - SMTP_HOST
      - SMTP_USERNAME
      - SMTP_PASSWORD
      - TURNSTILE_SECRET_KEY
      - SELLER_ADDRESS
      - MS_CLIENT_SECRET
      - MS_CLIENT_ID
      - MS_REDIRECT_URI
      - JWT_SECRET
      - LARAVEL_APP_KEY
      - ADMIN_EMAIL
      - ADMIN_PASSWORD
      - RMSYME_API_TOKEN
  laravel-vite:
    init: true
    container_name: laravel-vite
    build:
      context: ./www
      dockerfile: Dockerfile.dev
    ports:
      - "5173:5173"
    volumes:
      - ./www/resources:/laravel/resources
      - ./www/public:/laravel/public
      - ./www/vite.config.js:/laravel/vite.config.js
  cacana-sass:
    init: true
    container_name: cacana-sass
    build:
      context: ./cacana
      dockerfile: Dockerfile.dev
    volumes:
      - ./cacana/scss:/cacana/scss
      - ./cacana/public/css:/cacana/public/css
      - ./cacana/public/fonts:/cacana/public/fonts
secrets:
  SMTP_HOST:
    file: ./secrets/SMTP_HOST
  SMTP_USERNAME:
    file: ./secrets/SMTP_USERNAME
  SMTP_PASSWORD:
    file: ./secrets/SMTP_PASSWORD
  TURNSTILE_SECRET_KEY:
    file: ./secrets/TURNSTILE_SECRET_KEY
  SELLER_ADDRESS:
    file: ./secrets/SELLER_ADDRESS
  MS_CLIENT_SECRET:
    file: ./secrets/MS_CLIENT_SECRET
  MS_CLIENT_ID:
    file: ./secrets/MS_CLIENT_ID
  MS_REDIRECT_URI:
    file: ./secrets/MS_REDIRECT_URI
  JWT_SECRET:
    file: ./secrets/JWT_SECRET
  LARAVEL_APP_KEY:
    file: ./secrets/LARAVEL_APP_KEY
  ADMIN_EMAIL:
    file: ./secrets/ADMIN_EMAIL
  ADMIN_PASSWORD:
    file: ./secrets/ADMIN_PASSWORD
  RMSYME_API_TOKEN:
    file: ./secrets/RMSYME_API_TOKEN
