@use "sass:map";

// include Bootstrap Icons
@use "bootstrap-icons/font/bootstrap-icons" as * with (
  $bootstrap-icons-font-dir: "../fonts"
);

// 1. Include functions (so you can manipulate colors, SVGs, calc, etc)
@import "bootstrap/scss/functions";

// 2. Include any default variable overrides here


// 3. Include remainder of required Bootstrap stylesheets
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
$primary: $purple;
$custom-colors: (
  "primary": $primary
);
$theme-colors: map.merge($theme-colors, $custom-colors);
$ctaBackgroundColor: $pink;

$position-values: map.merge($position-values, (
  "1": 1%,
));

// 5. Include remainder of required parts
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";

@import "bootstrap/scss/utilities";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
// @import "bootstrap/scss/containers";
// @import "bootstrap/scss/grid";
@import "bootstrap/scss/tables";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
// @import "bootstrap/scss/transitions";
// @import "bootstrap/scss/dropdown";
// @import "bootstrap/scss/button-group";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar"; // Requires nav
// @import "bootstrap/scss/card";
// @import "bootstrap/scss/breadcrumb";
// @import "bootstrap/scss/accordion";
// @import "bootstrap/scss/pagination";
// @import "bootstrap/scss/badge";
// @import "bootstrap/scss/alert";
// @import "bootstrap/scss/progress";
// @import "bootstrap/scss/list-group";
// @import "bootstrap/scss/close";
// @import "bootstrap/scss/toasts";
// @import "bootstrap/scss/modal"; // Requires transitions
// @import "bootstrap/scss/tooltip";
// @import "bootstrap/scss/popover";
// @import "bootstrap/scss/carousel";
@import "bootstrap/scss/spinners";
// @import "bootstrap/scss/offcanvas"; // Requires transitions
// @import "bootstrap/scss/placeholders";
@import "bootstrap/scss/helpers";

@import "bootstrap/scss/utilities/api";

// Custom styles
.h-1em {
  height: 1em !important;
}

$brown: #8B4513;

.btn-brown {
  @include button-variant(
    $brown,
    $brown,
  );
}

.nav-link {
  &.active, &[aria-current="page"] {
    background-color: $brown;
    color: white;
  }
}
