<!DOCTYPE html>
<html>
	<head>
		<title>Uno Demo</title>
		<meta charset="utf-8">
		<script src="/static/flaskapp/jquery-1.7.min.js"></script>
	</head>
	<body>
    <h1>Uno Demo</h1>

		<div id="card-table"></div>

		<footer>
			cards.js was created by <a href="http://einaregilsson.com">Einar Egilsson</a> and is licensed
			under the MIT license. The card images were created by <a href="http://nicubunu.ro">Nicu Buculei</a> and are
			in the public domain.
		</footer>
        
		<!-- load this at the bottom so the #card-table element exists -->
		<script src="/static/flaskapp/cards.js"></script>
		<script src="/static/flaskapp/uno.js"></script>
	</body>
</html>