@import '~bootstrap/scss/bootstrap';

$nav-height: 56px;
$card-header-height: 49px;
$card-footer-height: 55px;
$board-border-width: 5px;
$board-padding: $spacer * .5;
$below-board-height: 15px;

.kanban-board {
  display: flex;
  overflow-x: auto;
  border-width: $board-border-width !important;
  padding: $board-padding;
  height: calc(100vh - $nav-height - $below-board-height);
}

.kanban-column {
  flex: 0 0 auto;
  width: 350px;

  .card-body {
    /* Allows each Kanban column to scroll vertically by the card body */
    overflow-y: auto;
    /* Such that the navbar + the board + extra space = 100vh */
    max-height: calc(100vh
      - $nav-height
      - $card-header-height
      - $card-footer-height
      - $board-border-width * 2
      - $board-padding * 2
      - $below-board-height
    );
    
    .card:hover {
      cursor: grab;
    }
  }

  .card-footer {
    height: $card-footer-height;
  }
}