$primary: #6f42c1;

body {
  font-family: "DejaVu Sans", Arial, sans-serif;
  font-size: 12px;
}

h1 {
  color: $primary;
}

h4 {
  margin-bottom: 0;
}

hr {
  clear: both;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  padding-bottom: 1rem;
  color: $primary;
}

.left-column {
  float: left;
  width: 50%;
}

.right-column {
  float: right;
  width: 50%;
}

.text-start {
  text-align: left;
}

.text-end {
  text-align: right;
}

.text-primary {
  color: $primary;
}

.fw-bold {
  font-weight: bold;
}

.bg-body-secondary td {
  background-color: #f8f9fa;
}

.pb-3 {
  padding-bottom: 1rem;
}
