:root {
  --nav-height: 56px;
}

.sidebar {
  position: sticky;
  align-self: flex-start; // for sticky to work within flexbox
  top: var(--nav-height);
  height: calc(100vh - var(--nav-height));
  overflow-y: scroll;
}

section {
  scroll-margin-top: var(--nav-height);
}

.btn-orange {
  background-color: $orange;
  color: white !important;
}
.btn-orange:hover {
  background-color: shade-color($orange, 60%);
}

.card-header {
  background-color: $primary;
  color: white;
}

.card-body {
  background-color: lighten($primary, 40%);
}

a:hover .card-body {
  background-color: lighten($primary, 30%);
}
