header {
  z-index: 1021; // for box-shadow to appear over navbar
  box-shadow: 0 0 1rem rgba(0,0,0,0.2);
  // background-color: $light;
  background-image: linear-gradient(to right, $primary, $white 80%);
  color: color-contrast($light);
}

.banner-tag {
  &:hover, &:focus {
    // banner-link color changes when hover/focus on parent as well
    .banner-link {
      color: color-contrast($light) !important;
    }
  }
}

.banner-link {
  color: $primary;
}

.extra-bold {
  font-weight: 1000;
}

