@include media-breakpoint-down(xxl) {
  .w-100-xxl-down {
    width: 100% !important;
  }
}

@include media-breakpoint-down(xl) {
  .w-100-xl-down {
    width: 100% !important;
  }
}

@include media-breakpoint-down(lg) {
  .w-100-lg-down {
    width: 100% !important;
  }
}

@include media-breakpoint-down(md) {
  .w-100-md-down {
    width: 100% !important;
  }
}

@include media-breakpoint-down(sm) {
  .w-100-sm-down {
    width: 100% !important;
  }
}
