@import 'bootstrap-common';

@import "bootstrap/scss/utilities";
@import "bootstrap/scss/tables";

@import "bootstrap/scss/utilities/api";

h1 {
  color: $primary;
}
hr {
  clear: both;
}
.left-column {
  float: left;
  width: 50%;
}
.right-column {
  float: right;
  width: 50%;
}
h4 {
  margin-bottom: 0;
}
th {
  padding-bottom: 1rem;
  color: $primary;
}
