@import "bootstrap/scss/functions";

@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";

@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";

@import "bootstrap/scss/utilities";
@import "bootstrap/scss/tables";

@import "bootstrap/scss/utilities/api";

hr {
  clear: both;
}
.left-column {
  float: left;
  width: 50%;
}
.right-column {
  float: right;
  width: 50%;
}
h4 {
  margin-bottom: 0;
}