{% extends "base.html" %}

{% block content %}
<h1>Job Postings</h1>
{% if object_list %}
  <table>
    <thead>
      <tr>
        <th>URL</th>
        <th>Scraping</th>
        <th>Title</th>
        <th>Company</th>
      </tr>
    </thead>
    <tbody>
      {% for job_posting in object_list %}
        <tr>
          <td>
            <a href="{{job_posting.url}}" target="_blank">{{job_posting.url|truncatechars:80}}</a>
          </td>
          <td>
            {% if job_posting.text %}
              <a href="{% url 'jobposting_text' job_posting.id %}">View</a>
            {% endif %}
          </td>
          <td>{{job_posting.title}}</td>
          <td>{{job_posting.company}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>No job postings yet.</p>
{% endif %}

{% endblock %}