name: Docker Image CI

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    # Checkout the code
    - uses: actions/checkout@v4

    - name: Log in to Docker Hub
      run: >
        echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login -u
        "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin

    - name: Set up environment
      run: >
        echo "IMAGE_TAG=$(date +%s)" >> $GITHUB_ENV;
        REPO_NAME=$(echo "${{ github.repository }}" | cut -d'/' -f2);
        echo "REPO_NAME=$REPO_NAME" >> $GITHUB_ENV

    - name: Build and run Laravel asset builder
      run: >
        docker build ./www -f www/Dockerfile.build --tag
        ${{ secrets.DOCKERHUB_USERNAME }}/laravel-builder:${{ env.IMAGE_TAG }};
        docker run --rm -v "$(pwd)/www/public/build:/laravel/public/build"
        ${{ secrets.DOCKERHUB_USERNAME }}/laravel-builder:${{ env.IMAGE_TAG }};

    - name: Build and run Cacana asset builder
      run: >
        docker build ./cacana -f cacana/Dockerfile.build --tag
        ${{ secrets.DOCKERHUB_USERNAME }}/cacana-builder:${{ env.IMAGE_TAG }};
        docker run --rm -v "$(pwd)/cacana/public/css:/cacana/public/css"
        -v "$(pwd)/cacana/public/fonts:/cacana/public/fonts"
        ${{ secrets.DOCKERHUB_USERNAME }}/cacana-builder:${{ env.IMAGE_TAG }};

    - name: Build the Docker image with Dockerfile.build
      run: >
        docker build . -f Dockerfile.build --tag
        ${{ secrets.DOCKERHUB_USERNAME }}/$REPO_NAME:${{ env.IMAGE_TAG }}

    - name: Tag the Docker image as latest
      run: >
        docker tag
        ${{ secrets.DOCKERHUB_USERNAME }}/$REPO_NAME:${{ env.IMAGE_TAG }}
        ${{ secrets.DOCKERHUB_USERNAME }}/$REPO_NAME:latest

    - name: Push the Docker image with timestamp tag
      run: >
        docker push
        ${{ secrets.DOCKERHUB_USERNAME }}/$REPO_NAME:${{ env.IMAGE_TAG }}

    - name: Push the Docker image with latest tag
      run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/$REPO_NAME:latest
